h1{
    text-align: center;
    font-family: Copperplate, Papyrus, fantasy;
    color: #f7f6f6;
}
body {
    background-image: url("https://www.lifewire.com/thmb/Jw2zQuXPK9lcjwQqUxNxzT_9jlw=/1280x720/smart/filters:no_upscale()/vladstudio-library-wallpaper-5919cd763df78cf5fa3d7e27.jpg");
    background-color: #2b1919;
    text-align: center;
    font-family: "luminari", fantasy;
    color: #f7f6f6;
    
   }

